body {
    font-family: Arial, sans-serif;
    background-color: #4d4d4d;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    margin: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #8660e5;
    padding: 10px;
    border-radius: 25px;
}

.logo {
    display: inline;
    width: 90px;
    height: auto;
}

.nav-items {
    list-style: none;
    cursor: pointer;
}

.nav-item {
    display: inline;
    margin-right: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.list {
    display: flex;
    margin-left: auto;
}

.search {
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    height: 50px;
    width: 25vw;
    min-width: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.srch-btn {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.welcome {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    margin-top: 20px;
    background-color: #575757;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 1s;
}

.welcome-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.welcome:hover {
    background-color: #737171;
}

.welcome-logo {
    height: 25vh;
    margin-right: 40px;
    border-radius: 125px;
}

.welcome-title {
    font-size: 30px;
    font-weight: bold;
}

.welcome-message {
    flex: 1;
    padding: 20px;
}