body {
    background-color: #4d4d4d;
}

.posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.post {
    border-radius: 5px;
    width: 30%;
    min-width: 200px;
    height: auto;
    max-height: 300px;
    margin: 20px;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.post:hover {
    box-shadow: 5px 5px 15px white;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin-bottom: 10px;*/
    padding: 5px;
    background-color: lightgray;
}

.post-body {
    padding: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

span {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 7px;
}

.post-title {
    font-weight: bold;
}